h1{
    color:aqua;
}
h5{
    background-color:rgb(238, 54, 232);
    height:30px;
    width:100px;
    line-height:30px;

}
.wrapper{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 500px;
}
a{
    text-decoration: none;
}